@inherits LayoutComponentBase

<PageTitle>Studying-Online</PageTitle>

<Navbar />

@Body

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2022 Studying-Online</p>
    </div>
</footer>
