@page "/"

<div class="container">
    <div class="row position-relative">
        <div class="position-absolute w-auto p-4 m-4 bg-white opacity">
            <h1 class="display-4">Studying-Online</h1>
            <p class="lead">The best online course site.</p>
            <hr class="my-4">
            <p>The best place to learn</p>
            <a class="btn btn-primary btn-lg" href="courses" role="button">See all courses</a>
        </div>
        <img src="images/system/fondo-bienvenida.jpg" class="img-fluid" alt="fondo">
    </div>
</div>